# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Runner.xcworkspace/
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/

# Windows
**/windows/flutter/ephemeral/
**/windows/Runner/GeneratedPluginRegistrant.*

# Linux
**/linux/flutter/ephemeral/
**/linux/runner/GeneratedPluginRegistrant.*

# Web
lib/generated_plugin_registrant.dart

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/
.history/

# Miscellaneous
*.log
*.tmp
*.swp
*.lock
*.DS_Store
*.class
*.jar
*.so
*.dll
*.exe

# Environment variables / credentials
.env
keys.json
google-services.json
GoogleService-Info.plist
secret.dart
credentials.json